<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{master :: layout(~{::title},~{::meta},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Add Justification</title>
</head>
<body>
<main id="main" class="container">
    <form th:action="@{${action}}"  style="padding: 10px;" method="post">
        <input class="form-control" style="padding: 10px" type="date" name="date" th:value="${#dates.format(item.getDate(),'yyyy-MM-dd')}" th:disabled="${update}">
        <textarea class="form-control" style="padding: 10px" name="description" rows="4" placeholder="Motivation" th:text="${item.getDescription()}" th:disabled="${update}"></textarea>

        <select class="form-control" th:if="${isAdmin}" style="padding: 10px" name="status">
            <option th:each="status:${T(ch.supsi.spbd.authSystem.model.Status).values()}" th:value="${status}" th:text="${#strings.replace(status,'_',' ')}" th:selected="${item.getStatus()==status}" > </option>
        </select>
        <label class="form-label">User:</label>
        <label th:if="${isAdmin}" th:text="${item.getUsername()}" class="form-label" style="padding: 10px">User</label>
        <button class="btn btn-primary w-100" style="padding: 10px" type="submit">Submit</button>
    </form>
</main>

</body>
</html>